@model Webkho_20241021.Models.yeucau
@{
    ViewData["Title"] = "ThemYeucau";
    Layout = "~/Areas/NhanvienKythuat/Views/Layout/Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thêm Yêu Cầu</title>
</head>
@using (Html.BeginForm("ThemYeucauSQL", "Yeucau", new { area = "NhanvienKythuat" }, FormMethod.Post, true, new { enctype = "multipart/form-data" }))
{
    <body>
        <div class="formyeucau">
            <div class="tieude">
                <p>Thông tin yêu cầu</p>
            </div>
            <div class="row">
                <div class="field">
                    <label for="ten">Tên</label>
                    <input type="text" id="ten" name="NguoiYeucau" placeholder="Tên"
                           value="@Context.Session.GetString("TenNguoidung")" required readonly />
                </div>
                <div class="field">
                    <label for="manv">Mã NV</label>
                    <input type="text" id="manv" name="YCMaNguoidung" placeholder="Mã nhân viên"
                           value="@Context.Session.GetString("MaNguoidung")" required readonly />
                </div>
                <div class="field">
                    <label for="bophan">Bộ phận</label>
                    <input type="text" id="bophan" name="Bophan" placeholder="Bộ phận"
                           value="@Context.Session.GetString("Bophan")" required readonly />
                </div>
            </div>
            <div class="row">
                <div class="field">
                    <label for="tenyeucau">Tên yêu cầu</label>
                    <select id="tenyeucau" name="TenYeucau" required>
                        <option value="" disabled selected>Chọn yêu cầu</option>
                        <option value="Yêu cầu vật tư">Yêu cầu vật tư</option>
                        <option value="Yêu cầu nhập kho">Yêu cầu nhập kho</option>
                        <option value="Yêu cầu xuất kho">Yêu cầu xuất kho</option>
                    </select>
                </div>
                <div class="field">
                    <label for="maduan">Mã dự án</label>
                    <select id="maduan" name="YCMaDuan" required>
                        <option value="">Chọn mã dự án</option>
                        <option value="">Không</option>
                        @foreach (var n in ViewBag.Duanlist)
                        {
                            <option value="@n.MaDuan">@n.MaDuan</option>
                        }
                    </select>
                </div>
                <div class="field-hidden">
                    
                </div>
            </div>
        </div>
        <div class="formtableyeucau">
            <div class="tieude">
                <p>Danh sách vật tư yêu cầu</p>
            </div>
            <div class="themyeucau-table">
                <table class="form-table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên vật tư</th>
                            <th>Mã vật tư</th>
                            <th>Mã kho</th>
                            <th>Hãng SX</th>
                            <th>Nhà cung cấp</th>
                            <th>Số lượng</th>
                            <th>Đơn vị</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <tr>
                            <td>1</td>
                            <td><input type="text" class="TenSanpham" name="TenSanpham" placeholder="Tên vật tư" oninput="searchProducts()" required /></td>
                            <td><input type="text" name="MaSanpham" placeholder="Mã sản phẩm" /></td>
                            <td><input type="text" name="YCMakho" placeholder="Mã kho" readonly /></td>
                            <td><input type="text" name="HangSX" placeholder="Hãng SX" /></td>
                            <td><input type="text" name="NhaCC" placeholder="Nhà cung cấp" /></td>
                            <td><input type="number" name="SL" placeholder="Số lượng" required /></td>
                            <td><input type="text" name="DonVi" placeholder="Đơn vị" required /></td>
                        </tr>
                    </tbody>
                    <tbody id="searchResults" style="display: none;"></tbody>
                </table>
            </div>
            <div class="action">
                <button type="submit">Gửi</button>
            </div>
        </div>
        <script src="~/js/themyeucau.js"></script>
    </body>
}
</html>
