
@{
    ViewData["Title"] = "Phieuxuatkho";
    Layout = "~/Areas/TruongBPKythuat/Views/Layout/Layout.cshtml";
}
@model Webkho_20241021.Areas.TruongBPKythuat.Data.Phieuxuatkhoviewmodel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>yeucau</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <nav class="bodyyeucau">
        <div class="menu-kho">
            <ul class="timkiem">
                <li><a href="/TruongBPKythuat/Yeucau/Yeucau">Chưa duyệt</a></li>
                <li><a href="/TruongBPKythuat/Yeucau/Phieuxuatkho">Phiếu xuất kho</a></li>
                <li><a href="">Phiếu nhập kho</a></li>
                <li><a href="/TruongBPKythuat/Yeucau/Phieumuahang">Phiếu mua hàng</a></li>
            </ul>
            <ul>
                <input type="text" id="timkiem" name="Timkiem" placeholder="Tìm kiếm" />
            </ul>
        </div>

        <div class="Tableyeucau">
            <table class="table">
                <thead>
                    <tr>
                        <td>STT</td>
                        <td>Mã xuất kho</td>
                        <td>Mã yêu cầu</td>
                        <td>Mã dự án</td>
                        <td>Người yêu cầu</td>
                        <td>Ngày xuất kho</td>
                        <td>Trạng thái</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int STT = 1;
                    }
                    @foreach (var item in Model.Phieuxuatkho)
                    {
                        string ChucvuSession = Context.Session.GetString("Chucvu");
                        string BophanSession = Context.Session.GetString("Bophan");
                        <tr>
                            <td>@STT</td>
                            <td>
                                <a href="javascript:void(0);" onclick="showVTxuatkho('@item.MaXuatkho')">
                                    @item.MaXuatkho
                                </a>
                            </td>
                            <td>@item.MaYeucau</td>
                            <td>@item.MaDuan</td>
                            <td>@item.MaNguoidung</td>
                            <td>@item.NgayXuatkho?.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (item.TrangThai == "Đang chuẩn bị hàng" && BophanSession == "BP kho")
                                {
                                    @using (Html.BeginForm("Xuliphieuxuatkho", "Yeucau", new { area = "TruongBPKythuat" }, FormMethod.Post))
                                    {
                                        <input type="hidden" name="MaXuatkho" value="@item.MaXuatkho" />
                                        <button type="submit" name="action" value="approve" class="btn-icon approve-btn">
                                            <i class="bx bxs-check-circle"></i>
                                        </button>
                                    }
                                }
                                else if (item.TrangThai == "Chờ lấy hàng" && BophanSession == "BP kho")
                                {
                                    @using (Html.BeginForm("Xuliphieuxuatkho", "Yeucau", new { area = "TruongBPKythuat" }, FormMethod.Post))
                                    {
                                        <input type="hidden" name="MaXuatkho" value="@item.MaXuatkho" />
                                        <button type="submit" name="action" value="approve" class="btn-icon approve-btn">
                                            <i class="bx bxs-check-circle"></i>
                                        </button>
                                    }
                                }
                                else if (item.TrangThai == "Đã lấy hàng" && BophanSession == "BP kho")
                                {
                                    @using (Html.BeginForm("Xuliphieuxuatkho", "Yeucau", new { area = "TruongBPKythuat" }, FormMethod.Post))
                                    {
                                        <input type="hidden" name="MaXuatkho" value="@item.MaXuatkho" />
                                        <button type="submit" name="action" value="approve" class="btn-icon approve-btn">
                                            <i class="bx bxs-check-circle"></i>
                                        </button>
                                    }
                                }
                                else
                                {
                                    @item.TrangThai;                                   
                                }
                            </td>
                        </tr>
                        STT++;
                    }
                </tbody>
            </table>
        </div>
    </nav>
    <nav class="bodyyeucau-thietbi">
        <div class="Tableyeucau-thietbi-box">
            <table class="tablethietbi">
                <thead>
                    <tr>
                        <td>STT</td>
                        <td>Tên vật tư</td>
                        <td>Mã vật tư</td>
                        <td>Mã kho</td>
                        <td>Hãng sx</td>
                        <td>Nhà cung cấp</td>
                        <td>Số lượng</td>
                        <td>Đơn vị</td>
                        <td>Trạng thái</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int ST = 1;
                    }
                    @foreach (var item in Model.VTphieuxuatkho)
                    {
                        <tr>
                            <td>@ST</td>
                            <td>@item.TenSanpham</td>
                            <td>@item.MaSanpham</td>    
                            <td>@item.Makho</td>
                            <td>@item.HangSX</td>
                            <td>@item.NhaCC</td>
                            <td>@item.SL</td>
                            <td>@item.DonVi</td>
                        </tr>
                        ST++;
                    }
                </tbody>
            </table>
        </div>
    </nav>
    <script src="~/js/phieuxuatkho.js"></script>
</body>
</html>










